{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">TuForo</div>
        <ul class="nav-links">
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="{% url 'detalle_proyecto' %}">Nosotros</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'password_reset' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout_usuario' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login_usuario' %}">Iniciar sesión</a></li>
            {% endif %}
    </nav>

    <div class="bodyapp">
    <div class="contenedor">
        <h1>PROYECTO TuForo</h1>
        <p>Uniguajira 2024</p>
        <p>ISSLAM QUIROZ </p>
        <p>CARLOS ZARATE</p>
        <P>RAMIRO GOMEZ</P>
        <a class="btn-main" href="{% url 'lista_posts' %}">Volver a la lista</a>  
    </div>
    </div>
    
</body>
