{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">TuForo</div>
        <ul class="nav-links">
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="{% url 'detalle_proyecto' %}">Nosotros</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'password_reset' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout_usuario' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login_usuario' %}">Iniciar sesión</a></li>
            {% endif %}
    </nav>

    <div class="bodyapp">
    <h1 class="titulo">Lista de Posts</h1>
    {% if user.is_authenticated %}
    <a class="btn-main" href="{% url 'nuevo_post' %}">Crear Nuevo Post</a>
    {% else %}
        <p>Para crear un nuevo post, debes <a href="{% url 'login_usuario' %}">iniciar sesión</a>.</p>
    {% endif %}
    <ul class="postlist">
        {% for post in posts %}
            <li class="postitem">
                <a class="titlepost" href="{% url 'detalle_post' post.pk %}">{{ post.titulo }}</a>
                <p class="contentpost" >{{ post.contenido|truncatechars:100 }}</p>
                <small>Publicado por: {{ post.author.username }} el {{ post.fecha_creacion }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
