{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">TuForo</div>
        <ul class="nav-links">
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="{% url 'detalle_proyecto' %}">Nosotros</a></li>
            <li><a href="#contacto">Username</a></li>
        </ul>
    </nav>
    <div class="bodyapp">
    <h1 class="titulo">Lista de Posts</h1>
    <a class="btn-main" href="{% url 'nuevo_post' %}">Crear Nuevo Post</a>
    <ul class="postlist">
        {% for post in posts %}
            <li class="postitem">
                <a class="titlepost" href="{% url 'detalle_post' post.pk %}">{{ post.titulo }}</a>
                <p class="contentpost" >{{ post.contenido|truncatechars:100 }}</p>
                <small class="datepost" >Publicado el: {{ post.fecha_creacion }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
