<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">TuForo</div>
        <ul class="nav-links">
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="{% url 'detalle_proyecto' %}">Nosotros</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'password_reset' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout_usuario' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login_usuario' %}">Iniciar sesión</a></li>
            {% endif %}
    </nav>
    
    <h1>Iniciar sesión</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <button type="submit">Iniciar sesión</button>
    </form>
    <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate</a></p>
</body>
</html>
