{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Post</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">TuForo</div>
        <ul class="nav-links">
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="{% url 'detalle_proyecto' %}">Nosotros</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'password_reset' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout_usuario' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login_usuario' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="bodyapp">
    <h1 class="titulo">Crear Nuevo Post</h1>
    {% if user.is_authenticated %}
    <div class="contenedor">
    <form method="post">
        {% csrf_token %}
        <input class="titlearea" type="text" name="titulo" placeholder="Título" required><br>
        <textarea class="textarea" name="contenido" placeholder="Contenido" required></textarea><br>
        <button class="btn-main" type="submit">Publicar</button>
    </form>
    {% else %}
        <p>Para crear un nuevo post, debes <a href="{% url 'login_usuario' %}">iniciar sesión</a>.</p>
    {% endif %}
    </div>
    <a class="btn-main" href="{% url 'lista_posts' %}">Volver a la lista</a>
    </div>
    
</body>
</html>
